<h2> All Pets at <%= @shelter.name %></h2>

<% @pets.each do |pet| %>
	<p><%= image_tag "#{pet.image}" %></p>
	<p>Name: <%= pet.name %></p>
	<p>Approximate Age: <%= pet.approximate_age %></p>
	<p>Gender: <%= pet.sex %></p>
	<p>Shelter Name: <%= pet.shelter.name %></p>
<% end %>
