<h2> All Pets at <%= @shelter.name %></h2>

<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>

<% @pets.each do |pet| %>
<section id='pet-<%= pet.id %>'>
	<p><%= image_tag "#{pet.image}" %></p>
	<p>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
	<p>Description: <%= pet.description %></p>
	<p>Approximate Age: <%= pet.age %></p>
	<p>Gender: <%= pet.sex %></p>
	<p>Shelter Name: <%= pet.shelter.name %></p>
	<p><%= link_to "Update Pet", "/pets/#{pet.id}/edit" %></p>
	<p><%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %></p>

</section>
<% end %>
