<div class='show'>
<h2><%= @shelter.name %></h2>
	<p><%= @shelter.address %>
	<%= @shelter.city %>
	<%= @shelter.state %>
	<%= @shelter.zip %></p>


<p><%= link_to "Shelter Pets", "/shelters/#{@shelter.id}/pets" %></p>

	
	<p><%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %> |
		<%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %></p>
</div>
