<h3>Number of Pets: <%= @shelter.pets.pet_count %></h3>
<h3>Current Application Count: <%= @shelter.application_count %></h3>

<div class='show'>
	<h2><%= link_to  "#{@shelter.name}", "/shelters/#{@shelter.id}" %></h2>
	<p><%= @shelter.address %>
	<%= @shelter.city %>
	<%= @shelter.state %>
	<%= @shelter.zip %></p>

	<p><%= link_to "Shelter Pets", "/shelters/#{@shelter.id}/pets" %></p>

	<% if @shelter.pets_pending? == false %>
		<p><%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %></p>
	<% else %>
		<p><%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %> |
			<%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %></p>
	<% end %>
</div>

<h3>Average Rating: <%= @shelter.reviews.average_rating.round(1) %>/5 stars</h3>

<div class='show'>
	<h2>Reviews</h2>
	<p><%= link_to "Add Review", "/shelters/#{@shelter.id}/reviews/new" %></p>

	<% @shelter.reviews.each do |review| %>
		<section id="review-<%= review.id %>">
			<p><%= review.title %></p>
			<p><%= link_to "Edit Review", "/shelters/#{@shelter.id}/reviews/#{review.id}/edit" %> |
				<%= link_to "Delete Review", "/shelters/#{@shelter.id}/reviews/#{review.id}", method: :delete %></p>
			<p><%= review.rating %>/5 stars</p>
			<p><%= review.content %></p>
			<%= image_tag "#{review.image}", width: 200, height:150 %>
			<br><br><br>
		</section>
	<% end %>
</div>
