<h2> All Pets at <%= @shelter.name %></h2>
<h3>Number of Pets: <%= @shelter.pets.pet_count %></h3>
<h3><%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %></h3>

<% @pets.each do |pet| %>
	<div class='index'>
		<section id='pet-<%= pet.id %>'>
			<p><%= image_tag "#{pet.image}", width: 200, height: 150  %></p>
			<p>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
			<p>Description: <%= pet.description %></p>
			<p>Age: <%= pet.age %></p>
			<p>Sex: <%= pet.sex %></p>

			<p><%= link_to "Update Pet", "/pets/#{pet.id}/edit" %> |
				 <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %></p>
		</section>
	</div>
<% end %>
