<div id="application_info">
  <h2>Application For:</h2>
  <h3><%= @application.name %></h3>
  <p><%= @application.address %></p>
  <p><%= @application.city %></p>
  <p><%= @application.state %></p>
  <p><%= @application.zip %></p>
  <p><%= @application.phone_number %></p>
  <p><%= @application.description %></p>
  
  <h3>Pets applied for:</h3>
  <% @application.pets.each do |pet| %>
    <div id="pet-<%= pet.id %>">
      <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %> |
      <% if pet.adoptable %>
        <%= link_to "Approve", "/pets/#{pet.id}/applications/#{@application.id}", method: :patch %>
      <% else %>
        <%= link_to "Unapprove", "/pets/#{pet.id}/applications/#{@application.id}", method: :patch %>
      <% end %>
    </div>
  <% end %>
</div>