<h2><%= @pet.name %></h2>

<%= image_tag "#{@pet.image}" %>
<%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %>
<%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>

	<p> Description: <%= @pet.description %></p>
	<p> The approximate age of this pet is: <%= @pet.age %></p>
	<p> This pet is a: <%= @pet.sex %></p>
	<% if @pet.adoptable %>
		<p> This pet is available to adopt </p>
	<% else %>
		<p> This pet is Pending </p>
	<% end %>
