<div class='show'>
<h2>Name: <%= @pet.name %></h2>

<%= image_tag "#{@pet.image}", width: 200, height:150 %>

	<p> Description: <%= @pet.description %></p>
	<p> Age: <%= @pet.age %></p>
	<p> Sex: <%= @pet.sex %></p>
	<% if @pet.adoptable %>
		<p>Status: Adoptable</p>
	<% else %>
		<p> This pet is Pending </p>
	<% end %>

	<p><%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %> |
	<%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %></p>
</div>
